:root {
    --main-color: #fd9ab6;
    --secondary-color: #fff4e6;
    --main-text-color: #11d7d8;
    --secondary-text-color: pink;
    --send-message-form: white;
}

::placeholder{
    color: var(--main-text-color);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui;
    font-weight: 200;
    color: 	#3e5869; 
}

#root {
    height: 100%;
}

/*  bottom m's become isTyping*/
/*  rightmost m's become UsersInChat*/
.layout {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;
    grid-template-areas: 
        "m m m m m r"
        "m m m m m r"
        "m m m m m r"
        "m m m m m r"
        "m m m m m r"
        "f f f f f n";
}

.new-room-form {
    grid-area: n;
}

.rooms-list {
    grid-area: r;
}

.message-list {
    grid-area: m;
}

.send-message-form {
    grid-area: f;
}

/* REST OF CSS */
.rooms-list {
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--main-color);
    overflow: scroll;
    height: 100%;
}

.rooms-list > ul {
    list-style-type: none;    
    padding: 0;
    overflow: scoll;
}

.rooms-list li {
    margin: 10px 0;
}

.rooms-list > h3 {
    margin: 5px 0;
    color: var(--secondary-color);
}

.rooms-list .room a {
    color: var(--secondary-text-color);
    font-weight: 600;
    text-decoration: none;
    
 }

.rooms-list .room.active a {
    color: var(--secondary-color);
}

.new-room-form {
    padding: 0 5px;
    height:60px;
    background: var(--secondary-color);
    color: var(--main-text-color);
}

.new-room-form form {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-room-form input {
    width: 135px;
    background: var(--secondary-color);
}

.new-room-form button {
    background: var(--secondary-color);
    color: var(--main-text-color);
    border: 0;
} 

.new-room-form input::placeholder {
    color: var(--main-text-color);
    font-weight: 200;
}

.new-room-form input:focus {
    outline-width: 0;
}

.new-room-form input {
    border: 0;
}

.new-room-form button {
    border: 0;
}

.message {
    margin: 15px 0;
}

.message .message-username {
    font-size: 11px;
    color: var(--main-text-color);
    opacity: 0.9;
    margin-bottom: 6px;
}
.message .message-text {
    background: var(--main-color);
    color: var(--secondary-color);
    display: inline;
    padding: 4px 8px;
    border-radius: 8px;
}

.message-list {
    box-sizing: border-box;
    padding-left: 6px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: var(--secondary-color);
}

.message-list .join-room {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 34px;
    font-weight: 300;
}

.send-message-form {
    background: var(--send-message-form);
    display: flex;
}

.send-message-form input {
    width: 100%;
    padding: 15px 10px;
    margin: 0;
    border-style: none;
    background: var(--send-message-form);
    font-weight: 200;

}

.send-message-form input:focus {
    outline-width: 0;
}

.send-message-form input::placeholder {
    color: var(--main-text-color);
}

.help-text {
    position: absolute;
    top: 10px;
}

.login {
    display: grid;
    height: 100%;
    background-color: var(--main-color);
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;
    grid-template-areas: 
        ". h h h h ."
        ". l l l l ."
        ". i i i i ."
        ". b b b b ."
        ". . . . . ."
        ". . . . . .";
}



.login-input-area {
    grid-area: l;
}

.login-button-area {
    grid-area: b;
}

.login-info-area {
    grid-area: i;
}

.login-header-area {
    grid-area: h;
}

.login-header {
    text-align: center;
    font-size: 100px;
    color: var(--send-message-form);
}

.login-input{
    font-size: 50px;
    
    /* display: flex; */
    padding: 0px;
    height: 20%;
    width: 90%;
    margin: auto;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--main-text-color);
}

.login-info-header {
    margin: auto;
    text-align: center;
    padding: 35px;
    color: var(--send-message-form);
}


.login-button{
    /* display: flex; */
    font-size: 50px;
    padding: 0px;
    height: 20%;
    width: 90%;
    margin: auto;
    text-align: center;
    box-shadow: var(--secondary-text-color) 10px 10px 10px 10px;
    background-color: var(--secondary-color);
    color: var(--main-text-color);
}





